/* ==========================
   GOOGLE FONT
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#070707;
    color:#fff;
    overflow-x:hidden;
}

/*=========================
WELCOME
==========================*/

#welcome{
    position:fixed;
    width:100%;
    height:100vh;
    left:0;
    top:0;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;

    overflow:hidden;

    z-index:999;
}

/* Animated Background */

.background{

    position:absolute;

    width:100%;
    height:100%;

    background:
    radial-gradient(circle at 20% 20%,#3cee21 0%,transparent 25%),
    radial-gradient(circle at 80% 80%,#9a9e9a 0%,transparent 20%),
    radial-gradient(circle at center,#181818,#070707);

    animation:bgMove 8s infinite alternate;

}

@keyframes bgMove{

0%{

transform:scale(1);

filter:blur(0px);

}

100%{

transform:scale(1.2);

filter:blur(3px);

}

}

.welcome-box{

position:relative;

z-index:10;

text-align:center;

padding:30px;

max-width:700px;

}

.title{

font-size:60px;

font-weight:700;

color:white;

animation:fadeTop 1.5s;

text-shadow:

0 0 20px rgb(102, 233, 233),

0 0 50px rgb(0, 255, 13);

}

.subtitle{

margin-top:30px;

font-size:22px;

line-height:1.8;

color:#ddd;

animation:fadeBottom 2s;

}

#enterBtn{

margin-top:50px;

padding:18px 45px;

font-size:20px;

border:none;

border-radius:50px;

background:linear-gradient(45deg,#ffcc00,#ff9800);

cursor:pointer;

color:black;

font-weight:bold;

transition:.4s;

box-shadow:

0 0 20px gold;

}

#enterBtn:hover{

transform:translateY(-5px);

box-shadow:

0 0 40px gold,

0 0 70px orange;

}

/*=========================
SHOP
==========================*/

#shop{

display:none;

padding:30px;

padding-bottom:120px;

min-height:100vh;

}

header{

text-align:center;

margin-bottom:30px;

}

header h2{

font-size:40px;

color:#ffcc00;

}

/*=========================
PRODUCT
==========================*/

.products{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}

.card{

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.15);

border-radius:25px;

padding:25px;

transition:.5s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:

0 0 40px rgba(255,204,0,.5);

}

.slider{
position:relative;
width:100%;
height:320px;
overflow:hidden;
}

.slider img{

position:absolute;
width:100%;
height:100%;
object-fit:contain;

opacity:0;

transition:.5s;

}

.slider img.active{

opacity:1;

}

.imgBox{

width:100%;

height:320px;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

border-radius:20px;

background:#111;

}

.imgBox img{

width:90%;

transition:.5s;

}

.card:hover img{

transform:scale(1.08);

}

.card h3{

margin-top:20px;

font-size:26px;

}

.price{

margin-top:15px;

font-size:30px;

font-weight:bold;

color:#ffcc00;

}

.addCart{

width:100%;

margin-top:20px;

padding:15px;

border:none;

border-radius:15px;

cursor:pointer;

background:linear-gradient(45deg,#ffcc00,#ff9800);

font-size:18px;

font-weight:bold;

transition:.4s;

}

.addCart:hover{

transform:scale(1.05);

}

/*=========================
BOTTOM NAVIGATION
==========================*/

nav{

position:fixed;

bottom:20px;

left:50%;

transform:translateX(-50%);

width:330px;

height:75px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(25px);

border-radius:40px;

display:flex;

justify-content:space-around;

align-items:center;

box-shadow:0 0 30px rgba(255,255,255,.08);

}

.navBtn{

background:none;

border:none;

color:white;

font-size:26px;

cursor:pointer;

transition:.4s;

}

.navBtn.active{

color:#ffcc00;

transform:translateY(-8px);

}

.navBtn:hover{

color:#ffcc00;

}

/*=========================
CART
==========================*/

#cart,
#contact{

display:none;

padding:30px;

padding-bottom:120px;

}

.total{

margin-top:30px;

font-size:30px;

font-weight:bold;

color:#ffcc00;

}

#orderBtn{

margin-top:30px;

width:100%;

padding:16px;

border:none;

border-radius:15px;

font-size:20px;

background:linear-gradient(45deg,#ffcc00,#ff9800);

cursor:pointer;

font-weight:bold;

}

/*=========================
CONTACT
==========================*/

.telegram{

display:flex;

justify-content:center;

align-items:center;

gap:12px;

margin-top:50px;

padding:20px;

background:#229ED9;

border-radius:20px;

color:white;

font-size:25px;

text-decoration:none;

transition:.4s;

}

.telegram:hover{

transform:scale(1.04);

}

/*=========================
ANIMATION
==========================*/

@keyframes fadeTop{

0%{

opacity:0;

transform:translateY(-60px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

@keyframes fadeBottom{

0%{

opacity:0;

transform:translateY(60px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

/*=========================
RESPONSIVE
==========================*/

@media(max-width:768px){

.title{

font-size:42px;

}

.subtitle{

font-size:18px;

}

header h2{

font-size:28px;

}

nav{

width:90%;

}

}

.soatlar{
    text-align:center;
}
